<?xml version="1.0" ?>
<robot name="koch" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find koch_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find koch_description)/urdf/koch.trans" />
  <xacro:include filename="$(find koch_description)/urdf/koch.gazebo" />

  <xacro:include filename="$(find koch_description)/urdf/koch_follower.xacro"/>
  <xacro:include filename="$(find koch_description)/urdf/koch_leader.xacro"/>

  <xacro:configure_gazebo prefix="leader_"/>
  <xacro:configure_transmissions prefix="leader_"/>
  <xacro:configure_gazebo prefix="follower_"/>
  <xacro:configure_transmissions prefix="follower_"/>

  <link name="base_link"/>
  <xacro:koch_follower parent_link="base_link" xyz="-0.2 0 0" />
  <xacro:koch_leader parent_link="base_link" xyz="0.2 0 0" />

</robot>
